.parentRow{
  top: 0px;
  left: 0px;
  // width: 100vw;
  height: 85vh;
  background: #F4F4F6 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-content: center;
}

.parentRow .task{
  align-self: center;
}

.top_card{
  width: 296px;
  text-align: center;
  display: block;
  height: 150px;
}

.block_button{
  display: block;
  width: 100%;
}

.body{
  background: #F4F4F6;
}
.container-fluid{
  height: 85vh;
  text-align: center;
  width: 90%;
}
.completed_count{
  display: inline-block;
  color:blue;
  font-size: 50px;
}
.total_count{
  display: inline;
}
.strike_through{
  text-decoration: line-through;
}
.task_name_not_done{
  color: blue;
  text-decoration: none;
}
.task_name_done{
  color: black;
  text-decoration: line-through;
}
.task_body{
  display: block;
  overflow: scroll;
  height: 45vh;
}
